.details{
    padding-left: 150px;
}
.tiltle1{
     text-align: center; 
     padding-top: 20px;
     /* background-color: aqua; */
}
.allD{
    background-color:lightblue;
 padding-top: 50px; 
 padding-bottom: 50px; 
}